:host {
  flex: 1;
  display: block;
  width: auto;
}

.button-native {
  position: relative;
  display: block;
  width: 100%;
  height: 100%;
  color: var(--color-gray-600);
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: var(--spacing-1) var(--spacing-1)
    calc(var(--spacing-1) + var(--tabs-indicator-height)) var(--spacing-1);
  font-weight: 500;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 0.04em;
}

.inner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  border-radius: var(--spacing-2);
  background-color: transparent;
}

.button-native:hover {
  color: var(--color-text-base);

  .inner-container {
    background-color: var(--color-background-brand-subtle-hovered);
  }
}

:host([data-active]) .button-native {
  color: var(--color-text-base);
}
