:host {
  position: relative;
  width: 100%;
  display: flex;
  height: var(--spacing-12);
  --tabs-indicator-height: 2px;
}

.indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: var(--tabs-indicator-height);
  background-color: var(--color-background-brand-base);
  transition: all 0.3s ease;
}
