@import "@fontsource-variable/source-sans-3";
@import "@scouterna/design-tokens/tokens.css";

body {
  font-family: "Source Sans 3 Variable", sans-serif;
  font-size: var(--text-body-base);
  line-height: 1.5;
  color: var(--color-text-base);
}

@theme {
  --text-*: initial;
  --text-body-base: var(--fontsize-base);
  --text-body-sm: var(--fontsize-sm);
  --text-body-lg: var(--fontsize-lg);
  --text-body-xl: var(--fontsize-xl);
  --text-body-2xl: var(--fontsize-2xl);
  --text-heading-xl: var(--fontsize-6xl);
  --text-heading-lg: var(--fontsize-5xl);
  --text-heading-base: var(--fontsize-4xl);
  --text-heading-sm: var(--fontsize-3xl);
  --text-heading-xs: var(--fontsize-2xl);

  --color-*: initial;
  --color-blue-50: #e6eeff;
  --color-blue-100: #d0e0ff;
  --color-blue-200: #9cc3ff;
  --color-blue-300: #58a6ff;
  --color-blue-400: #0087e3;
  --color-blue-500: #006bb5;
  --color-blue-600: #00508a;
  --color-blue-700: #003660;
  --color-blue-800: #002748;
  --color-blue-900: #00162d;
  --color-blue-950: #000f21;
  --color-neutral-50: #ebf1f7;
  --color-neutral-100: #d7e4f0;
  --color-neutral-200: #b1cde3;
  --color-neutral-300: #87b3d4;
  --color-neutral-400: #749bb7;
  --color-neutral-500: #608199;
  --color-neutral-600: #4c667a;
  --color-neutral-700: #374b5a;
  --color-neutral-800: #25343f;
  --color-neutral-900: #131d24;
  --color-neutral-950: #0a1217;
  --color-white: #ffffff;
  --color-challengerpink-50: #fff0f2;
  --color-challengerpink-100: #ffdde3;
  --color-challengerpink-200: #ffbac7;
  --color-challengerpink-300: #ff93ab;
  --color-challengerpink-400: #ff668e;
  --color-challengerpink-500: #ff1271;
  --color-challengerpink-600: #da005e;
  --color-challengerpink-700: #a60046;
  --color-challengerpink-800: #72002e;
  --color-challengerpink-900: #470019;
  --color-challengerpink-950: #30000f;
  --color-orange-50: #fffbeb;
  --color-orange-100: #fef3c7;
  --color-orange-200: #fde68a;
  --color-orange-300: #fcd34d;
  --color-orange-400: #fbbf24;
  --color-orange-500: #f59e0b;
  --color-orange-600: #d97706;
  --color-orange-700: #b45309;
  --color-orange-800: #92400e;
  --color-orange-900: #78350f;
  --color-orange-950: #451a03;
  --color-gray-50: #f3f3f4;
  --color-gray-100: #e5e5e6;
  --color-gray-200: #cbccce;
  --color-gray-300: #b2b3b6;
  --color-gray-400: #9c9ea1;
  --color-gray-500: #85868a;
  --color-gray-600: #6e7073;
  --color-gray-700: #585a5c;
  --color-gray-800: #444547;
  --color-gray-900: #252627;
  --color-gray-950: #151616;
  --color-discovererblue-50: #eaf5ff;
  --color-discovererblue-100: #cde9ff;
  --color-discovererblue-200: #92d4ff;
  --color-discovererblue-300: #1ec0ff;
  --color-discovererblue-400: #00a8e1;
  --color-discovererblue-500: #008bbb;
  --color-discovererblue-600: #006d94;
  --color-discovererblue-700: #01516f;
  --color-discovererblue-800: #00394f;
  --color-discovererblue-900: #00202f;
  --color-discovererblue-950: #00131d;
  --color-trackergreen-50: #ccfec6;
  --color-trackergreen-100: #85fd72;
  --color-trackergreen-200: #5be23d;
  --color-trackergreen-300: #4ec333;
  --color-trackergreen-400: #41a629;
  --color-trackergreen-500: #348821;
  --color-trackergreen-600: #286c18;
  --color-trackergreen-700: #1c5110;
  --color-trackergreen-800: #113808;
  --color-trackergreen-900: #072103;
  --color-trackergreen-950: #031501;
  --color-green-50: #f0fdf4;
  --color-green-100: #dcfce7;
  --color-green-200: #b9f8cf;
  --color-green-300: #7bf1a8;
  --color-green-400: #05df72;
  --color-green-500: #00c950;
  --color-green-600: #00a63e;
  --color-green-700: #008236;
  --color-green-800: #016630;
  --color-green-900: #0d542b;
  --color-green-950: #032e15;
  --color-red-50: #fef2f2;
  --color-red-100: #ffe2e2;
  --color-red-200: #ffc9c9;
  --color-red-300: #ffa2a2;
  --color-red-400: #ff6467;
  --color-red-500: #fb2c36;
  --color-red-600: #e7000b;
  --color-red-700: #c10007;
  --color-red-800: #9f0712;
  --color-red-900: #82181a;
  --color-red-950: #460809;
  --color-black: #000000;
  --color-roveryellow-50: #fffd62;
  --color-roveryellow-100: #f4f203;
  --color-roveryellow-200: #e2e000;
  --color-roveryellow-300: #c3c100;
  --color-roveryellow-400: #a4a300;
  --color-roveryellow-500: #878500;
  --color-roveryellow-600: #6a6900;
  --color-roveryellow-700: #515000;
  --color-roveryellow-800: #373700;
  --color-roveryellow-900: #1f1f00;
  --color-roveryellow-950: #121200;
  --color-adventurerorange-50: #fff1ee;
  --color-adventurerorange-100: #fee2dd;
  --color-adventurerorange-200: #fec0b4;
  --color-adventurerorange-300: #fda18b;
  --color-adventurerorange-400: #fd7a4c;
  --color-adventurerorange-500: #e95f13;
  --color-adventurerorange-600: #b94a0d;
  --color-adventurerorange-700: #8e3708;
  --color-adventurerorange-800: #622303;
  --color-adventurerorange-900: #3c1301;
  --color-adventurerorange-950: #280a01;
  --color-text-caution-base: var(--color-orange-700);
  --color-text-caution-bold-base: var(--color-orange-50);
  --color-text-brand-base: var(--color-blue-700);
  --color-text-brand-inverse: var(--color-white);
  --color-text-danger-base: var(--color-red-700);
  --color-text-danger-bold-base: var(--color-red-50);
  --color-text-positive-bold-base: var(--color-green-50);
  --color-text-positive-base: var(--color-green-700);
  --color-text-base: var(--color-neutral-800);
  --color-background-danger-base: var(--color-red-100);
  --color-background-danger-bold-base: var(--color-red-700);
  --color-background-danger-bold-hovered: var(--color-red-800);
  --color-background-danger-bold-pressed: var(--color-red-900);
  --color-background-brand-subtle-hovered: var(--color-blue-50);
  --color-background-brand-subtle-pressed: var(--color-blue-100);
  --color-background-brand-subtle-base: var(--color-blue-700);
  --color-background-brand-hovered: var(--color-blue-800);
  --color-background-brand-pressed: var(--color-blue-900);
  --color-background-brand-base: var(--color-blue-700);
  --color-background-positive-base: var(--color-green-100);
  --color-background-positive-bold-base: var(--color-green-700);
  --color-background-positive-bold-hovered: var(--color-green-800);
  --color-background-positive-bold-pressed: var(--color-green-900);
  --color-background-caution-base: var(--color-orange-100);
  --color-background-caution-bold-base: var(--color-orange-700);
  --color-background-caution-bold-hovered: var(--color-orange-800);
  --color-background-caution-bold-pressed: var(--color-orange-900);
}
