:host {
  display: flex;
  height: 44px;
  --scout-input-padding: var(--spacing-3);
  --scout-input-border-radius: 14px;
  --scout-input-type: var(--type-body-base);
}

:host(.large) {
  height: var(--spacing-14);
  --scout-input-padding: var(--spacing-4);
  --scout-input-border-radius: 16px;
  --scout-input-type: var(--type-body-lg);
}

.input {
  flex: 1;
  padding: var(--scout-input-padding);
  font: var(--scout-input-type);
  border: 1px solid var(--color-gray-100);
  border-radius: var(--scout-input-border-radius);
  background-color: var(--color-gray-50);
  color: var(--color-text-base);
}

.input:disabled {
  background-color: var(--color-gray-100);
  color: var(--color-gray-700);
  cursor: not-allowed;
}
