/** biome-ignore-all lint/complexity/noImportantStyles: https://github.com/tailwindlabs/tailwindcss/discussions/18628#discussioncomment-13915195 */

:host {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 var(--spacing-4) !important;
  height: var(--spacing-12);
  border: none !important;
  background-color: transparent;
}

.heading {
  margin: 0;
  padding: 0;
  font: var(--type-body-sm);
  color: var(--color-gray-800);
  font-weight: 500;
}
